flows/zoomcamp.count_yellow_2020_lines.yaml
id: count_yellow_2020_lines
namespace: zoomcamp

variables:
  taxi: yellow
  year: "2020"

tasks:
  - id: process_all_months
    type: io.kestra.plugin.core.flow.ForEach
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    tasks:
      - id: download_csv
        type: io.kestra.plugin.scripts.shell.Commands
        outputFiles:
          - "*.csv"
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        commands:
          - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{vars.taxi}}/{{vars.taxi}}_tripdata_{{vars.year}}-{{taskrun.value}}.csv.gz | gunzip > {{vars.taxi}}_tripdata_{{vars.year}}-{{taskrun.value}}.csv
          - LINES=$(wc -l < {{vars.taxi}}_tripdata_{{vars.year}}-{{taskrun.value}}.csv)
          - echo "Month {{taskrun.value}}: $LINES lines"
          - echo "$LINES" > line_count.txt
      
      - id: store_count
        type: io.kestra.plugin.core.log.Log
        message: "Month {{taskrun.value}}: Lines in file"

  - id: calculate_total
    type: io.kestra.plugin.scripts.python.Script
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
    containerImage: python:3.11-slim
    script: |
      total_lines = 0
      outputs = {{outputs.process_all_months}}
      
      for month_output in outputs:
          # Access the download_csv task output for each iteration
          # You'll need to parse the command output or use a different approach
          pass
      
      print(f"Total lines across all months: {total_lines}")